<section id="about">
    <h2>About Us</h2>
    <p>CurrencyMate was inspired by our passion for simplifying currency conversion and providing users with accurate, real-time exchange rates. As a team of developers at Holberton School, we embarked on this journey to create a user-friendly application that meets the needs of modern-day currency conversion.</p>
    <p>Meet the Team:</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/jude-augustine-801691123/">Jude Augustine (LinkedIn)</a></li>
        <li><a href="https://github.com/Augustinejude365">Jude Augustine (GitHub)</a></li>
        <li><a href="https://twitter.com/AugustineJude3">Jude Augustine (Twitter)</a></li>
        <!-- Input yours and Mubby's socials here. Hope you understand? -->
    </ul>
    <a href="https://github.com/Augustinejude365/Portfolio-Project---CurrencyMate" class="btn">View Project Repository</a>
</section>
