<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Currency Converter</title>
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
	</head>
	<body>
		<header class="header sub-header">
			<div class="logo-container">
				<img src="{{ url_for('static', filename='images/logo.png') }}" alt="CurrencyMate Logo" class="logo sub-header">
				<div class="logo-text">
					<h1 class="logo-name sub-header">CurrencyMate</h1>
					<p class="slogan sub-header">...YOUR CONVERSION COMPANION, WHEREVER YOU GO</p>
				</div>
			</div>
			<nav class="tabs sub-header">
				<ul>
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="#converter">Help</a></li>
					<li><a href="#converter">About Us</a></li>
					<li><a href="#converter">Contact Us</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
			<form id="conversion-form" class="flex-form">
				<p>CONVERT</p>
				<div class="flex-input">
					<div class="form-group">
						<label for="amount">Amount</label>
						<input type="number" id="amount" step="any" required>
					</div>
					<div class="form-group">
						<label for="fromCurrency">From</label>
						<select id="fromCurrency" required>
							<option value="" disabled selected>Select From Currency</option>
							<!-- I Populated dynamically with currency options in script -->
							<!-- Example: <option value="USD">United States Dollar (USD)</option> -->
						</select>

					</div>
					<div class="form-group">
						<label for="toCurrency">To</label>
						<select id="toCurrency" required>
							<option value="" disabled selected>Select From Currency</option>
						</select>
					</div>
				</div>
				<div class="flex-button">
					<button type="submit">Convert</button>
				</div>
			</form>
			<div id="result"></div>
		</div>
		<section class="about">
			<h2>About CurrencyMate</h2>
			<p>This user-friendly currency converter allows you to convert between a wide range of major and minor currencies. Our extensive list is constantly updated to reflect the global market, ensuring you receive accurate exchange rates.</p>
		</section>
		<section class="features">
			<h2>More Features:</h2>
			<ul>
				<li>Live exchange rates for real-time conversions.</li>
			</ul>
		</section>

		<section class="about">
			<h2>About CurrencyMate</h2>
			<p>This user-friendly currency converter allows you to convert between a wide range of major and minor currencies. Our extensive list is constantly updated to reflect the global market, ensuring you receive accurate exchange rates.</p>
		</section>
		<section class="features">
			<h2>More Features:</h2>
			<ul>
				<li>Live exchange rates for real-time conversions.</li>
			</ul>
		</section>
		<section class="about">
			<h2>About CurrencyMate</h2>
			<p>This user-friendly currency converter allows you to convert between a wide range of major and minor currencies. Our extensive list is constantly updated to reflect the global market, ensuring you receive accurate exchange rates.</p>
		</section>
		<section class="features">
			<h2>More Features:</h2>
			<ul>
				<li>Live exchange rates for real-time conversions.</li>
			</ul>
		</section>
		<section class="security">
			<h2>Security and Privacy</h2>
			<p>Your financial data is secure. We employ industry-standard security practices to safeguard your information. We are committed to protecting your privacy and will never share your data with third parties without your consent. For more details, please refer to our <a href="#">Privacy Policy</a>.</p>
		</section>

		<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/currencyList.js') }}"></script>
	</body>
</html>
