.contact-wrapper {
	display: flex;
	justify-content: center;
	font-family: "Josefin Sans", sans-serif;
	background-image: url('../images/contact-us-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.contact-container {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 100px;
}



/* CONTACT DETAILS */

.contact-us {
	padding: 30px 50px;
}

.contact-details-gp {
	margin-top: 50px;
	width: 50%;
}

.contact-details {
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin-right: 150px;
}

.icon-details {
	display: flex;
	flex-direction: column;
}

.fa-2xl {
	font-size: 24px;
	margin-right: 10px;
}

.details {
	margin-left: 50px;
	margin-top: -15px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	color: #707070;
}

.sub-details {
	white-space: nowrap;
	overflow: wrap;
	margin-left: 50px;
}



/* CONTACT US FORM */

.contact-form {
	display: flex;
	flex-direction: column;
	width: 50%;
	font-family: "Josefin Sans", sans-serif;
	background-color: white;
	color: black;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 30px 50px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}

.contact-form input,
.contact-form textarea {
	border: 1px solid #ccc;
	padding: 10px;
	width: 300px;
	height: 20px;
}

.contact-form textarea {
	height: 100px;
}

.contact-form button {
	margin-top: 20px;
	margin-right: auto;
	background-color: #02226f;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 15px;

}

.contact-form button:hover {
	background-color: #134fa9;
}
